*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin: 3rem;
}

img{
    width: 100%;
}

.wrapper{
    width: 65%;
    max-width: 400px;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}